<div class="container-xl d-flex">
  <div class="row w-100 px-2 m-auto">
    <div class="col-xs-12 col-md-5 m-auto text-center">
      <div data-controller="edit-task">
        <div class="pb-3">
          <p><strong>Step <%= @step_number %></strong></p>
          <h2>Create a to-do list for your customer</h2>
        </div>
        <ul class="todos-list" data-edit-task-target="list">
          <% @tasks.each do |task| %>
            <li class="d-flex align-items-top justify-content-between">
              <div class="d-flex align-items-top">
                <input type="checkbox" name="" value="" class="mt-1" style="min-width:16px">
                <p class="mx-2 text-start"><%= task.content %></p>
              </div>
              <%= link_to step_task_path(@step.id, task.id), method: :delete, class:"btn btn-link d-flex" do %>
                <%= image_tag "icon-trash.svg", class:"icon-sm" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="d-none" data-edit-task-target="form">
          <%= render "shared/new_task" %>
        </div>
        <div class="btn btn-link w-100 my-2" data-action="click->edit-task#displayForm">
          <%= image_tag "icon-add-task.svg", class:"icon-sm" %>
          <span>Add a new task</span>
        </div>
        <%= link_to 'Finish & Save', kit_step_path(@kit, @step), class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
</div>
