<div class="custom-container">
  <h3>Edit "name of the kit"</h3>
  <%= simple_form_for @kit do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Update kit' %>
  <% end %>
</div>
