<div class="row">
  <div class="col-md-6">
    <div class="mb-4">
      <%= link_to edit_kit_path(@kit.id) do %>
        <%= image_tag "icon-edit.svg", class:"icon-md" %>
      <% end %>
      <%= link_to @kit, method: :delete do %>
        <%= image_tag "icon-trash.svg", class:"icon-md" %>
      <% end %>
    </div>
    <h2><%= @kit.title %></h2>
    <p><%= @kit.description %></p>
    <% counter = 1 %>
    <% @steps.each do |step| %>
        <p>Step <%= counter %>: <%= step.title %></p>
        <p><small><%= step.content %> (<%= link_to 'See details', kit_step_path(@kit, step), class: "text-primary" %>)</small></p>
        <% if step.photo.key? %>
          <%= cl_image_tag step.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <p>WAIT: the image didn't show up!</p>
        <% end %>
      <% counter += 1 %>
    <% end %>
    <%# <%= link_to 'New step', new_kit_step_path(@kit), class: "btn btn-primary" %> %>
    <%= link_to 'New step', kit_steps_path(@kit), method: :post %>
  </div>

  <div class="col-md-6">
    <h4>Share it</h4>
    <div data-controller="clipboard"class="input-group">
      <input data-clipboard-target="input" type="text" class="form-control" value="<%= @kit_url %>">
      <button data-action="click->clipboard#copy" data-clipboard-target="button" data-tooltip="Copy to clipboard" class="btn form-button" type="button">
        <%= image_tag 'icon-copy.svg', data: { clipboard_target: "copy" }, class:"icon-md" %>
      </button>
    </div>
  </div>
</div>
