<h2><%= @kit.title %></h2>
<p><%= @kit.description %></p>
<h3>Steps</h3>
<ul>
  <% counter = 1 %>
  <% @steps.each do |step| %>
    <li>
      <p>Step <%= counter %>: <%= step.title %></p>
      <p><small><%= step.content %> (<%= link_to 'See details', step_path(step), class: "text-primary" %>)</small></p>
    </li>
    <% counter += 1 %>
  <% end %>
</ul>
<p><%= link_to 'New step', new_kit_step_path(@kit), class: "btn btn-primary" %></p>
<%= link_to 'Edit', edit_kit_path(@kit.id) %> |
<%= link_to 'Delete', @kit, method: :delete %>
