<div class="row">
  <div class="col-md-6">
    <% if @kit.user == current_user %>
      <div class="mb-4">
        <%= link_to edit_kit_path(@kit.id) do %>
          <%= image_tag "icon-edit.svg", class:"icon-md" %>
        <% end %>
        <%= link_to @kit, method: :delete do %>
          <%= image_tag "icon-trash.svg", class:"icon-md" %>
        <% end %>
      </div>
    <% end %>
    <h2><%= @kit.title %></h2>
    <p><%= @kit.description %></p>
    <% counter = 1 %>
    <div class="row">
      <% @steps.each do |step| %>
        <div class="col-md-6 px-0">
          <div class="wrapper-compact-card">
            <%= link_to edit_step_path(step), class:"edit-button" do %>
              <%= image_tag 'icon-edit.svg', class:"icon-sm" %>
            <% end %>
          </div>
          <%= link_to kit_step_path(@kit, step) do %>
            <div class="compact-card mx-2 mt-4">
              <h5 class="card-title"><%= counter %> - <%= step.title %></h5>
              <% if step.photo.key? %>
                <%= cl_image_tag step.photo.key, class:"card-image" %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1497367917223-64c44836be50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60", class:"card-image" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
    <div class="d-flex">
      <% if @kit.user == current_user %>
        <%= link_to 'New step', new_kit_step_path(@kit), class: "btn btn-primary mt-4 ms-auto" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-xl d-flex">
  <div class="row w-100 px-2 m-auto">
    <div class="col-xs-12 col-md-6 m-auto" data-controller="alert" data-alert-message-value="Email sent successfully" data-alert-type-value="success">
      <%= simple_form_for :kit, url: send_kit_kit_path(@kit) do |f| %>
        <div class="share-link">
          <h4>Share it</h4>
          <div data-controller="clipboard" class="input-group">
            <%= f.input :link, data: { clipboard_target: "input" }, input_html: { value: @kit_url } %>
            <button data-action="click->clipboard#copy" data-clipboard-target="button" data-tooltip="Copy to clipboard" class="btn form-button" type="button">
              <% image_tag 'icon-copy.svg', data: { clipboard_target: "copy" }, class:"icon-md" %>
            </button>
          </div>
          <div>
            <h5>Emails</h5>
            <%= f.simple_fields_for :email do |o|  %>
              <%= o.input :email, class: "form-control", placeholder: "Type Email address" %>
            <% end %>
            <%= f.button :submit, "Send an Email", class: "btn btn-primary w-100", id: "liveAlertBtn", data: { action: "click->alert#display"} %>
          </div>
        </div>
      <% end %>
      <div id="liveAlertPlaceholder" data-alert-target="alert"></div>
    </div>
  </div>
</div>
