<h2>Content Information</h2>

<%= form_with(model: @content, local: true) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</b>

      <ul>
        <% @content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.email_field :content, class: 'form-control' %>
  </div>

  <%= f.submit 'Save and Finish', class: 'btn btn-primary' %>
<% end %>
