<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="text-center mb-4">
      <h2>Notice</h2>
      <h5 class="mt-3">Hello, who’s this?</h5>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
