<div class="row step-show-wrapper">
  <div class="col-md-6">
    <% if @step.photo.key? %>
      <%= cl_image_tag @step.photo.key, class:"step-show-image" %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1497367917223-64c44836be50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60', class:"step-show-image" %>
    <% end %>
  </div>
  <div class="col-md-5">
    <div class="d-flex justify-content-between mt-5">
      <% @steps.each_with_index do |step, index| %>
        <% if @step.id == step.id %>
          <h3>Step <%= index + 1 %></h3>
        <% end %>
      <% end %>
      <% if @kit.user == current_user %>
        <div>
          <%= link_to kit_path(@step.kit_id) do %>
            <%= image_tag "icon-back.svg", class:"icon-md" %>
          <% end %>
          <%= link_to edit_step_path(@step) do %>
            <%= image_tag "icon-edit.svg", class:"icon-md" %>
          <% end %>
          <%= link_to kit_step_path(@kit, @step), method: :delete do %>
            <%= image_tag "icon-trash.svg", class:"icon-md" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <h2 class="mt-5"><%= @step.title %></h2>
    <p><%= @step.content %></p>
    <div class="mt-5">
      <h3>To do's</h3>
      <ul>
        <% @tasks.each do |task| %>
          <li>
            <p><%= task.content %>
            <% if @kit.user == current_user %>
              (<%= link_to 'Delete', step_task_path(@step.id, task.id), method: :delete %>)</p>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @kit.user == current_user %>
        <%= link_to new_step_task_path(@step), class: "btn btn-link px-0" do %>
          <%= image_tag "icon-add-task.svg", class:"icon-md" %>
          <span>Add a new to do</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
