<h2>Step title</h2>
<p><%= @step.content %></p>
<p><%= link_to 'Edit', edit_kit_step_path(@step.kit_id, @step), class: 'btn btn-primary' %></p>
<%= link_to '< Back', kit_path(@step.kit_id) %> |
<%= link_to 'Edit', edit_kit_step_path(@step) %> |
<%= link_to 'Delete', kit_step_path(@step.kit_id, @step), method: :delete %>
